
#hero {
    background:#2d3033;
    padding-top: 50px;
}

/**** Setting padding to resize with viewport ****/

@media screen and (max-width: 48em) {
    #hero {
        padding-top: 30px;
        padding-bottom: 30px
    }
}

/* Padding reset done */

#hero h1 {
    font-size:2.3rem;
    color:#fff;
    line-height: 0.9em;
    font-weight: 600;
    padding-top: 20px;
}

/**** Setting h1 font to resize with viewport ****/

@media screen and (max-width: 62em) {
    #hero h1 {
        font-size:2.2rem;
    }
}
 
@media screen and (max-width: 57em) {
    #hero h1 {
        font-size:1.9rem;
    }
}
 
@media screen and (max-width: 48em) {
    #hero h1 {
        text-align: center;
    }
}

/* Font resetting for h1 done */

#hero p {
    font-size:1.7125rem;
    color:#d0d0d0;
    line-height: 1.23em;
    font-weight: 100;
}

/**** Setting p font to resize with viewport ****/

@media screen and (max-width: 62em) {
    #hero p {
        font-size:1.5rem;
    }
}
 
@media screen and (max-width: 57em) {
    #hero p {
        font-size:1.2rem;
    }
}
 
@media screen and (max-width: 48em) {
    #hero p {
        text-align: center;
    }
}

/* Font resetting for p done */

#hero img {
	max-height: 400px;
}

/**** Setting hero image to disappear with small ****/

@media screen and (max-width: 48em) {
    #hero img {
        display:none;
    }
}

/* Image reset done */

#tricky {
    xdisplay: none;
}

/**** Setting tricky to appear with small ****/

@media screen and (max-width: 48em) {
    #tricky {
        display: ;
    }
}

/* Image reset done */