
#hero {
    background:#2d3033;
    padding-top: 50px;
}

/**** Setting padding to resize with viewport ****/

@media screen and (max-width: 62em) {
    #hero {
        padding-top: 30px;
        padding-bottom: 30px
    }
}

/* Padding reset done */

#hero h1 {
    font-size:2.5rem;
    color:#fff;
    line-height: 0.9em;
    font-weight: 600;
}

/**** Setting h1 font to resize with viewport ****/

@media screen and (max-width: 62em) {
    #hero h1 {
        font-size:2.3rem;
    }
}
 
@media screen and (max-width: 55em) {
    #hero h1 {
        font-size:2.1rem;
    }
}
 
@media screen and (max-width: 48em) {
    #hero h1 {
        text-align: center;
    }
}

/* Font resetting for h1 done */

#hero p {
    font-size:1.8125rem;
    color:#d0d0d0;
    line-height: 1.23em;
    font-weight: 100;
}

/**** Setting p font to resize with viewport ****/

@media screen and (max-width: 62em) {
    #hero p {
        font-size:1.6rem;
    }
}
 
@media screen and (max-width: 55em) {
    #hero p {
        font-size:1.4rem;
    }
}
 
@media screen and (max-width: 48em) {
    #hero p {
        text-align: center;
    }
}

/* Font resetting for p done */

#hero img {
	max-height: 400px;
}

/**** Setting hero image to disappear with small ****/

@media screen and (max-width: 48em) {
    #hero img {
        display:none;
    }
}